@page "/locations"

@using MbfApp.Dtos.Locations
@inject ILocationService LocationService

<PageTitle>Index</PageTitle>

<h4>Locations</h4>
<hr />
<p>
    <a href="locations/create" class="btn btn-success btn-sm">
        <i class="bi bi-plus-lg"></i>
        Create New
    </a>
</p>

<QuickGrid Class="table table-bordered" Items="Locations.AsQueryable()">
    <PropertyColumn Property="location => location.Name" />

    <TemplateColumn Context="location" Title="Action">
        <a href="@($"locations/edit?id={location.Id}")" class="link-success icon-link"><i class="bi bi-pencil"></i> Edit</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private List<LocationDto> Locations = new();

    protected override async Task OnInitializedAsync()
    {
        Locations = await LocationService.GetLocationListAync();
    }
}
