@page "/locations"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using MbfApp.Data
@implements IAsyncDisposable
@inject IDbContextFactory<MbfApp.Data.AppDbContext> DbFactory

<PageTitle>Index</PageTitle>

<h4>Locations</h4>
<hr />
<p>
    <a href="locations/create" class="btn btn-success btn-sm">
        <i class="bi bi-plus-lg"></i>
        Create New
    </a>
</p>

<QuickGrid Class="table table-bordered" Items="context.Locations">
    <PropertyColumn Property="location => location.Name" />

    <TemplateColumn Context="location" Title="Action">
        <a href="@($"locations/edit?id={location.Id}")" class="link-success icon-link icon-link-hover"><i class="bi bi-pencil"></i></a> |
        <a href="@($"locations/details?id={location.Id}")" class="link-success icon-link icon-link-hover"><i class="bi bi-binoculars"></i></a> |
        <a href="@($"locations/delete?id={location.Id}")" class="link-danger icon-link icon-link-hover"><i class="bi bi-trash"></i></a>
    </TemplateColumn>
</QuickGrid>

@code {
    private AppDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
