@page "/members"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using MbfApp.Data.Entities
@using MbfApp.Data
@implements IAsyncDisposable
@inject IDbContextFactory<MbfApp.Data.AppDbContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Locations</h1>

<p>
    <a href="members/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Members">
    <PropertyColumn Property="member => member.EmployeeNo" />
    <PropertyColumn Property="member => member.FirstName" />
    <PropertyColumn Property="member => member.LastName" />
    <PropertyColumn Property="member => member.Email" />
    <PropertyColumn Property="member => member.Phone" />

    <TemplateColumn Context="member">
        <a href="@($"members/edit?id={member.Id}")">Edit</a> |
        <a href="@($"members/details?id={member.Id}")">Details</a> |
        <a href="@($"members/delete?id={member.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private AppDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
